#image: maven:3.9.6-jdk-8
#image: busybox:latest

stages:
  - build
  - test
  - package

# for debugging
before_script:
  - echo "hello"
  - echo $PATH
  - whoami
  - mvn --version

# build job
build:
  stage: build
  script: mvn clean compile

# test Job
test:
  stage: test
  script: mvn test

# package Job
package:
  stage: package
  script: mvn package
  variables:
    MAVEN_OPTS: "-DskipTests=true"
