# no image due to shell executor

stages:
  - build
  - test
  - package

# for debugging
before_script:
  - alias mvn = '/usr/local/apache-maven/apache-maven-3.9.6/bin/mvn'
  - /usr/local/apache-maven/apache-maven-3.9.6/bin/mvn --version
  - mvn --version

# build job
build:
  stage: build
  script: mvn clean compile

# test Job
test:
  stage: test
  script: mvn test

# package Job
package:
  stage: package
  script: mvn package
  variables:
    MAVEN_OPTS: "-DskipTests=true"
