server:
  port: ${port:4200}
spring:
  application:
    name: frontend-service
  security:
    oauth2:
      client:
        provider:
          gitlab:
            authorization-uri: https://gitlab.lrz.de/oauth/authorize
            token-uri: https://gitlab.lrz.de/oauth/token
            user-info-uri: https://gitlab.lrz.de/api/v4/user
            user-name-attribute: username
        registration:
          gitlab:
            provider: gitlab
            redirect-uri: http://34.159.207.253:4200/login/oauth2/code/gitlab
            authorization-grant-type: authorization_code
            client-id: ${OAUTH_CLIENT_ID:684058d0de7a06e09b9719e548eb91a804fe94a12be461ea9d4c2d0e057f7f2a}
            client-secret: ${OAUTH_CLIENT_SECRET:gloas-4e6cd7610f09e14015ac6623e804d1202052a72ad9749ca71fdcfa7861991dba}
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
